/*CSS var*/
:root {
	--primary-color : #00B3B3;
	--secondary-color :rgb(0, 125, 179);
}
* { box-sizing: border-box; padding: 0px; margin: 0px; font-family: 'Raleway', sans-serif; }
html, body { height: 100%; width: 100%; }
a { text-decoration: none; }
body { padding: 30px }

/*colors*/
.m-color-primary { color: var(--primary-color) !important; }
.m-color-secondary { color: var(--secondary-color) !important; }

/*background colors*/
.m-bg-primary { background-color: var(--primary-color) !important; }

.favicon { position: fixed; bottom: 10px; right: 10px; }